<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.de.schindlerfelix.GitLab</string>
	</array>
	<!-- OAuth redirect target for Auth.redirectUri (tanuki://oauth/callback). -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>de.schindlerfelix.GitLab</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tanuki</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
